.table {
  font-size: 12px;
  line-height: 1.42857143;
  width: 100%;
  border-collapse:separate;
}

.table .head {

}

.table .head .headItem {

}

.sortEnable {
  cursor: pointer;
}

.sortDisable {
  cursor: auto;
}

.table .body {

}

.table .body .bodyLine {

}

.table .body .bodyLine .bodyElement {

}

.odd {
  background-color:#f9f9f9;
}
.even {
  background-color:#ffffff;
}
