.table {
  border: 1px solid #ddd;
  border-color: #e2e7eb;
  border-radius: 3px;
  background-color: transparent;
  border-spacing: 0;
  font-size: 12px;
  font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #707478;
  box-sizing:border-box;
}

.table thead tr th {
  padding-right: 30px;
  padding:10px 15px;
  color:#242a30;
  font-weight:600;
  vertical-align:bottom;
  border:1px solid #ddd;
  border-bottom: 2px solid #e2e7eb!important;
  cursor:pointer;
  position:relative;
  white-space:nowrap;
}
.table .body .odd {
  background-color:#f9f9f9;
}
.table .body .even {
  background-color:#ffffff;
}
